body {
    background: black;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 auto;
}


nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    background: #000;
    padding: 10px;
    text-align: center;
    top: 0;
    left: 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
}

.best-picture-link {
    &:hover {
        color: #e4da37;
        border: 1px dotted #e4da37;
    }
}

.best-actor-link {
    &:hover {
        color: #e4da37;
        border: 1px dotted #e4da37;
    }
}

.best-actress-link {
    &:hover {
        color: #e4da37;
        border: 1px dotted #e4da37;
    }
}

.best-director-link {
    &:hover {
        color: #e4da37;
        border: 1px dotted #e4da37;
    }
}

.content {
    width: 90%;
    margin-top: 115px;
    margin-left: 5%;

        h5 {
            margin-top: -15px;
            color: #fff;
        }

        p {
            margin-bottom: 5px;
        }

        .special-link { 
            margin: 0px;
            font-size: 12px;
            color: #fff;
        }

        .special-link:hover {
            color: #e4da37;
            border-bottom: 1px dotted #e4da37;
        }

        h4 {
            margin-bottom: -10px;
        }
}

.article {
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -3px;

    h3 {
        color: #e4da37;
    }
}

.page-header {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    text-align: center;

        img {
            display: none;
        }

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            color: white;
            font-size: 2.5rem;
            letter-spacing: 1px;
        }

        a {
            margin: 5px;
            padding: 5px;
        }
}

.best-picture {
    text-align: center;
    font-weight: 300;
    padding-bottom: 50px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    h4{
        padding-top: 50px;
        margin-top: 20px;
        margin-bottom: 30px;

    }
}

.american-sniper p {
    display: none;
}

.american-sniper h4 {
    display: none;
}

.american-sniper:hover {

        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }

}

.birdman p {
    display: none;
}

.birdman h4 {
    display: none;
}

.birdman:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}

.boyhood p {
    display: none;
}

.boyhood h4 {
    display: none;
}

.boyhood:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }

}

.budapest-hotel p {
    display: none;
}

.budapest-hotel h4 {
    display: none;
}

.budapest-hotel:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}


.imitation-game p {
    display: none;
}

.imitation-game h4 {
    display: none;
}

.imitation-game:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}

.selma p {
    display: none;
}

.selma h4 {
    display: none;
}

.selma:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}

.theory-of-everything p {
    display: none;
}

.theory-of-everything h4 {
    display: none;
}

.theory-of-everything:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}

.whiplash p {
    display: none;
}

.whiplash h4 {
    display: none;
}

.whiplash:hover {
        h4  {
            display: block;
            position: relative;
        }
        p {
            display: block;
            position: relative;
        }
}

.nominee-group {
    padding-top: -20px;

    h4 {
        font-size: 1.5rem;
        color: #e4da37
    }

      img {
        width: 100%;
    }

}

a{
    text-decoration: none;
    color: white
}


.name:hover {
       color: #e4da37;
        border-bottom: 1px dotted #e4da37;
}

.best-actor {
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
       
        h4{
            padding-top: 70px;
            margin-top: 20px;
            margin-bottom: 30px;
    }
}


.best-actress {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 50px;
       
        h4{
            padding-top: 10px;
            margin-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 30px;
    }
}

.best-director {  
    text-align: center; 
    padding-bottom: 50px;
    border-top: 1px solid #fff;

        h4{
            padding-top: 70px;
            margin-top: 15px;
            margin-bottom: 30px;
    }
}
