body {
    background: red url(/images/background.jpg) 0 0 repeat;
}

.content {
    width: 90%;
    background: fade-out(#fff, .2);
    color: #888;
}

.page-header {
    border: 3px double #000;
}

.special-link {
    color: orange;
}

.nominee-group {
    border: 1px solid green;

    h4 {
        font-size: 13px;
    }
}

.best-picture-link {
    color: red;

    &:hover {
        font-size: 20px;
    }
}

.best-actor-link {
    color: blue;

    &:hover {
        font-style: italic;
    }
}

.best-actress-link {
    color: #ff9898;

    &:hover {
        color: purple;
    }
}

.best-director-link {
    color: green;

    &:hover {
        font-style: italic;
        color: orange;
        font-size: 20px;
    }
}

.best-picture {
    font-family: helvetica, arial, sans-serif;
}

.best-actor {
    border: 2px solid gray;
    width: 43%;
    h4 {
        color: purple;
    }
}

.best-actress {
    h4 {
        color: #ff5431;
        font-size: 18px;
    }
}

.best-director {
    width: 71%;
    margin: auto;
    border: 4px solid #21f891;
    color: #f1f1f1;
    font-family: georgia, "times new roman", serif;

    h4 {
        color: #ff9898;
        font-size: 22px;
    }

    p {
        color: #f1f1f1;
    }
}

.nominee {
    float: left;
    margin: 5px;
    padding: 5px;
    border: 1px solid #999;
}

.boyhood:hover {
    background: url(/images/boyhood-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.american-sniper {
    background: url(/images/american-sniper.jpg) 0 0 no-repeat;
    background-size: 100% 100%;

    &:hover {
        background: none;
    }
}

.budapest-hotel:hover {
    background: url(/images/budapest-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.birdman:hover {
    background: url(/images/birdman-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.selma:hover {
    background: url(/images/selma-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.imitation-game:hover {
    background: url(/images/selma-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.theory-of-everything:hover {
    background: url(/images/theory-of-everything-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.whiplash:hover {
    background: url(/images/whiplash-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}
